.estado {
  font-size: 20px;
  text-decoration: none;
}
.inicio {
  color: blue;
}
.hoje {
  color: darkred;
}
.amanha {
  color: darkblue;
}
h2 {
  color: seagreen;
}
p {
  font-size: 20px;
}

html {
  font-family: Arial;
}
